* {
    box-sizing: border-box;
}

body {
    margin: unset;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.logo {
    background-color: transparent;
    float: left;
    height: 100%;
}

.navbar-cus {
    overflow: hidden;
    height: 50px;
}

.navbar {
    height: 50px;
}

.navbar-cus img {
    height: 100%;
}

.navbar-cus a {
    max-height: 43px;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 4px 10px;
    text-decoration: none;
    font-size: 17px;
}

.navbar-nav .active {
    font-weight: bold;
}

.infobar {
    clear: both;
    background-color: #1e8449;
    padding: 2px 5px;
    overflow: auto;
    height: 35px;
}

.infobar .inline-form {
    float: left;
    width: 50%;
}

.infobar .inline-form input {
    min-height: 25%;
    padding-right: 75px;
}

.infobar .inline-form .btn {
    padding: unset;
    vertical-align: unset;
}

.infobar .eventname {
    float: right;
    width: 50%;
    text-align: right;
}

.main {
    clear: both;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 85px;
    display: table;
}

.menu {
    width: 230px;
    height: 100%;
    float: left;
}

.menu a {
    color: white;
}

.menu a:hover {
    font-weight: bold;
}

.menu .navbar-nav {
    width: 100%;
}

.workspace {
    background-color: darkgray;
    margin-left: 230px;
    padding: 5px 10px;
    height: 100%;
}

.workspace .list-event {
    background-color: white;
    border: 1px solid #CCCCCC;
}

.workspace .calendar {
    padding: 0 10px;
    color: orangered;
}

.card-header{
    font-weight: bold;
}
.create-event {
    /*background-color: white;*/
    /*border: 1px solid #CCCCCC;*/
    margin-bottom: 30px;
    padding: unset;
    width: 600px;
}

.create-event input {
    width: 100%;
}

.sub-menu {
    float: left;
    width: 200px;
}

/*Overview*/
.summary {
    background-color: white;
    border: 1px solid #CCCCCC;
}

.nohover {
    pointer-events: none;
}

/*leaderboard*/
.leaderboard {
    width: 50%;
    padding: 1% 1%;
    float: left;
}

/*basic-setting*/
.main-event-setting input {
    width: 100%;
}

/*contest*/
.contest {
    margin-left: 200px;
}

.contest .card {
    width: 50%;
    float:left;
    margin: 10px 5px 0 0;
}

.contest input {
    width: 100%;
}

.contest-item {
    margin: 5px 5px 0 -5px;
    padding: 2px 4px;
    border: 1px solid #CCCCCC;
}

.contest-item:hover {
    background-color: #cc3300;
}
.sub-menu .active {
    background-color: yellow;
}

/*import-participant*/
.import-participant{
    margin-left: 200px;
}

/*participant*/
.title-menu{
    border-bottom: solid;
    color: white;
    font-weight: bold;
    width: 100%;
}